<h1>Team Name: <%=@team[:name]%></h1>
<h2>Team Motto: <%@team[:motto]%></h2>

<%@heros.each do |h|%>
   <h3>Name:<%=ship.name%></h3>
<h2>Display your second ship here</h2>	+    <h2>Type:<%=ship.type%></h2>
   <h2>Booty:<%=ship.booty%></h2>
    <%end%>
