<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="post">
  Team Name: <input type="text" name="team[name]">
  Team Motto: <input type="text" name="team[motto]">
  
  Hero Name: <input id="member1_name" type="text" name="team[super_heros][][name]">
  Hero Power: <input id="member1_power" type="text" name="team[super_heros][][power]">
  Hero Bio: <input id="member1_bio" type="text" name="team[super_heros][][bio]">
  
  Hero Name: <input id="member2_name" type="text" name="team[super_heros][][name]">
  Hero Power: <input id="member2_power" type="text" name="team[super_heros][][power]">
  Hero Bio: <input id="member2_bio" type="text" name="team[super_heros][][bio]">
  
  Hero Name: <input id="member3_name" type="text" name="team[super_heros][][name]">
  Hero Power: <input id="member3_power" type="text" name="team[super_heros][][power]">
  Hero Bio: <input id="member3_bio" type="text" name="team[super_heros][][bio]">
  
  <input type="submit" value="submit">
</form>